header {
  position: absolute;
  width: 271px;
  height: 54px;
  left: 488px;
  top: 188px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  text-transform: uppercase;

  color: #f2f2f2;
}

.bl_quizApp {
  position: absolute;
  width: 464px;
  height: 629px;
  left: 488px;
  top: 252px;
  background: #ffffff;
  border-radius: 24px;
}

.bl_quizApp_ol {
  position: absolute;
  top: 160px;
  padding: 0 25px;
}

.advIcon {
  position: absolute;
  width: 162px;
  height: 116px;
  left: 302px;
  bottom: 587px;
}

.question {
  position: absolute;
  width: 373px;
  height: 36px;
  left: 32px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #2f527b;
}

.question.question_capitalOf {
  position: absolute;
  top: 68px;
}

.question.question_flagBelongTo {
  position: absolute;
  height: 72px;
  top: 100px;
  color: #1d355d;
}

.btn {
  display: flex;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(177, 167, 241);
  color: rgba(96, 102, 208, 0.8);
  background-color: white;
}

.btn-answer {
  margin-top: 32px;
  width: 400px;
  height: 56px;
}

.btn-answer:hover {
  background: #f9a826;
  color: white;
  border-color: transparent;
}

.btn-next {
  position: absolute;
  width: 116px;
  height: 56px;
  top: 555px;
  left: 316px;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  border-color: transparent;
}

.btn-next > span {
  position: absolute;
  width: 43px;
  height: 27px;
  top: 11px;
  left: 37px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

.incorrect {
  background: #ea8282 !important;
  color: white;
}

.correct {
  background-color: #60bf88 !important ;
  color: white;
}

.img {
  position: absolute;
  width: 84px;
  height: 54px;
  left: 32px;
  top: 40px;

  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
}

.load {
  text-align: center;
  font-size: x-large;
}

.icon {
  right: 20px;
}

.ly_result {
  text-align: center;
  padding-top: 25px;
}

.ly_result > h2 {
  font-size: 30px;
  font-weight: bold;
}

.ly_result > p {
  margin-top: -20px;
}
.ly_result > p > span {
  font-size: 30px;
  font-weight: bold;
  color: rgb(95, 173, 95);
}

.btn-tryAgain {
  color: purple;
  border-color: purple;
  margin-top: 50px;
}

li {
  list-style: none;
  color: steelblue;
}

.mark {
  position: absolute;
  display: inline-block;
  right: 40px;
  margin-top: 15px;
}

.alphabetIndex {
  display: inline-block;
  position: absolute;
  margin: 10px 0 10px 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  transform: translateY(-10%);
}

.dataName {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50px;
  margin-left: 50px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  text-align: left;
}
