header {
  color: white;
  font-size: x-large;
}

.bl_quizApp {
  color: purple;
  background-color: #fff;
  width: 300px;
  height: 500px;
  border-radius: 25px;
}

.bl_quizApp_ol {
  position: absolute;
  top: 230px;
  padding: 0 25px;
}

.btn-next {
  position: absolute;
  top: 500px;
  right: 30px;
}

.advIcon {
  position: absolute;
  width: 130px;
  top: -10px;
  left: 170px;
}

.question {
  position: absolute;
  font-size: 1.1em;
  top: 170px;
  margin: 0 25px;
  text-align: center;
  overflow-wrap: break-word;
}

.btn-answer {
  margin: 10px 25px 10px 0;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.btn-answer:hover {
  background-color: rgba(217, 255, 0, 0.801);
}

.incorrect {
  background-color: red !important;
}

.correct {
  background-color: rgb(53, 161, 53) !important ;
}

.img {
  margin-top: 25px;
  margin-left: 25px;
  width: 60px;
  height: 40px;
}

.load {
  text-align: center;
  font-size: x-large;
}

.icon {
  right: 20px;
}
