header {
  color: white;
  font-size: x-large;
}

.bl_quizApp {
  color: purple;
  background-color: #fff;
  width: 300px;
  height: 450px;
  border-radius: 25px;
}

.bl_quizApp_ol {
  top: 170px;
  padding: 0 25px;
}

.btn-next {
  margin-left: 155px;
}

.btn-next:hover {
  background-color: orange;
  color: white;
  border-color: transparent;
}

.advIcon {
  position: absolute;
  width: 130px;
  top: -10px;
  left: 170px;
}

.question {
  font-size: 1.1em;
  top: 130px;
  margin: 0 25px;
  text-align: center;
  overflow-wrap: break-word;
}

.question.questionMargin {
  padding-top: 70px;
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border-color: rgb(177, 167, 241);
  color: steelblue;
  background-color: white;
}

.btn-answer {
  margin: 10px 25px 10px 0;
  width: 250px;
  border-width: 2px;
}

.btn-answer:hover {
  background-color: orange;
  color: white;
  border-color: transparent;
}

.incorrect {
  background-color: rgb(236, 72, 72) !important;
  color: white;
}

.correct {
  background-color: rgb(53, 161, 53) !important ;
  color: white;
}

.img {
  margin-top: 25px;
  margin-left: 25px;
  width: 60px;
  height: 40px;
}

.load {
  text-align: center;
  font-size: x-large;
}

.icon {
  right: 20px;
}

.ly_result {
  text-align: center;
  padding-top: 25px;
}

.ly_result > h2 {
  font-size: 30px;
  font-weight: bold;
}

.ly_result > p {
  margin-top: -20px;
}
.ly_result > p > span {
  font-size: 30px;
  font-weight: bold;
  color: rgb(95, 173, 95);
}

.btn-tryAgain {
  color: purple;
  border-color: purple;
  margin-top: 50px;
}
